# Lambda Functions - Lab

## Introduction

In this lab, you'll get some hands-on practice creating and using lambda functions.

## Objectives
In this lab you will: 
* Create lambda functions to use as arguments of other functions   
* Use the `.map()` or `.apply()` method to apply a function to a pandas series or DataFrame

## Lambda Functions

In [1]:
import pandas as pd
df = pd.read_csv('Yelp_Reviews.csv', index_col=0)
df.head(2)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g

## Simple arithmetic

Use a lambda function to create a new column called `'stars_squared'` by squaring the stars column.

In [2]:
# Your code here
df['stars_squared'] = df['stars'].map(lambda x: x ** 2)
df.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,stars_squared
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g,25
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g,1
4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g,25
5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g,1
10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg,25

## Dates
Select the month from the date string using a lambda function.

In [6]:
# Your code here
df['date'].map(lambda x: x[5:7]).head()

1     11
2     10
4     09
5     02
10    06
Name: date, dtype: object

## What is the average number of words for a yelp review?
Do this with a single line of code!

In [7]:
# Your code here
df['text'].map(lambda x: len(x)).mean()

417.911877394636

## Create a new column for the number of words in the review

In [13]:
# Your code here
df['Review_num_words'] = df['text'].map(lambda x: len(x))

## Rewrite the following as a lambda function

Create a new column `'Review_Length'` by applying this lambda function to the `'Review_num_words'` column.

In [17]:
# Rewrite the following function as a lambda function
def rewrite_as_lambda(value):
    if len(value) < 50:
        return 'Short'
    elif len(value) < 80:
        return 'Medium'
    else:
        return 'Long'
# Hint: nest your if, else conditionals

df['Review_length'] = df['Review_num_words'].map(lambda x: 'Short' if x < 50 else ('Medium' if x < 80 else 'Long'))
df[df['Review_length'] == 'Medium'].head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,stars_squared,review_length,Review_num_words,Review_length
398,uu5AtMrz_94e8kk4Gixg9Q,0,2011-08-25,0,9bA1GBclAfD4MWXYxIj8cw,4,One of my fave Filipino fast food restaurants ...,0,AuIK5tF2GjO7SftHawTLKw,16,60,60,Medium
423,8eSmXnZG0N1GRsqiFeU9uA,0,2009-06-29,0,9o_J5ccazEU9ANqvweU4zA,4,Our pit stop before catching the latest flick ...,0,AuIK5tF2GjO7SftHawTLKw,16,76,76,Medium
690,krCiaZqjU2CeOfwoJWctDg,0,2013-06-02,0,cNQ5AlAhZmwFFlurZtgOww,4,I've come here quite a few times. Pretty cool...,0,q3AiAe-AcpDrNsdZf8nCvQ,16,53,53,Medium
692,eE4MUd3m6j6yISWjEYjyPQ,0,2013-03-19,0,9FMtFHT01G1xaI2I4CEtJA,5,Great time here! So much to see! The monkeys...,1,q3AiAe-AcpDrNsdZf8nCvQ,25,74,74,Medium
696,RHEfk2TTYsTMRsXCAk30yA,1,2012-12-26,1,9xtSmbEK-mG_Nl8gF0vn1g,5,Great cuts! Vadim is really good. Got me to ...,1,q3AiAe-AcpDrNsdZf8nCvQ,25,56,56,Medium

## Level Up: Dates Advanced!
<img src="images/world_map.png" width="600">  

Print the first five rows of the `'date'` column.

In [18]:
# Your code here
df['date'].head()

1     2012-11-13
2     2014-10-23
4     2014-09-05
5     2011-02-25
10    2016-06-15
Name: date, dtype: object

Overwrite the `'date'` column by reordering the month and day from `YYYY-MM-DD` to `DD-MM-YYYY`. Try to do this using a lambda function.

In [22]:
# Your code here
df['date'] = df['date'].map(lambda x: x[0:5] + x[8:10] + x[4:7])
df['date'].head()

1     2012-13-11
2     2014-23-10
4     2014-05-09
5     2011-25-02
10    2016-15-06
Name: date, dtype: object

## Summary

Great! Hopefully, you're getting the hang of lambda functions now! It's important not to overuse them - it will often make more sense to define a function so that it's reusable elsewhere. But whenever you need to quickly apply some simple processing to a collection of data you have a new technique that will help you to do just that. It'll also be useful if you're reading someone else's code that happens to use lambdas.